

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px 80px;
}

.gridCell {
    max-width: 250px;
    padding: 8px;
}

.cell {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    padding: 8px 0 30px;
    border-top: 1px solid hsl(227, 49%, 94%);
    border-bottom: 1px solid hsl(227, 49%, 94%);
}

.selectButton {
    position: absolute;
    bottom: 12px;
    left: 0;
}

.overridesHolder {
    margin-top: auto;
    border-top: 1px solid hsl(227, 49%, 94%);
    border-bottom: 1px solid hsl(227, 49%, 94%);
    padding: 16px 0;
}

.title {
    font-size: 12px;
    margin: 0;
    font-weight: bold;
}

.text {
    font-size: 12px;
    margin: 0;
}

.field {
    font-size: 12px;
    margin-bottom: 8px;
}

.img {
    width: 250px;
    padding-bottom: 8px;
    min-height: 250px;
    height: auto;
}

.show {
    opacity: 1;
}

.hide{
    opacity: 0.5;
}
