
.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px 80px;
}

.gridCell {
    max-width: 250px;
    padding: 8px;
}

.cell {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    padding: 8px 0 36px;
    border-top: 1px solid hsl(227, 49%, 94%);
    border-bottom: 1px solid hsl(227, 49%, 94%);
}

.selectButton {
    position: absolute;
    bottom: 12px;
    left: 0;
}

.formHolder {
    margin-top: auto;
    border-top: 1px solid hsl(227, 49%, 94%);
    border-bottom: 1px solid hsl(227, 49%, 94%);
    padding: 16px 0;
    display: flex;
}

.menuHolder {
    margin-left: auto;
    text-align: right;
}

.title {
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 8px;
    font-weight: bold;
}

.text {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

.marginBottom {
    margin-bottom: 8px;
}

.marginLeftAuto {
    margin-left: auto;
}

.field {
    font-size: 12px;
    margin-bottom: 8px;
}

.imgHolder {
    width: 250px;
    min-height: 250px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    background-color: #f1f4f6;
}

.img {
    max-width: 250px;
    height: auto;
}

.show {
    opacity: 1;
}

.hide {
    opacity: 0.5;
}

.list {
    padding-top: 16px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 8px;
    margin-bottom: 12px;
    border-bottom: 1px solid hsl(227, 49%, 94%);
}

.listColumnSmall {
    overflow: hidden;
    width: 65px;
    padding-right: 12px;
}

.listColumnMedium {
    width: 140px;
    padding-right: 12px;
}

.listColumnLarge {
    width: 300px;
    padding-right: 12px;
}

.listColumn {
    padding-right: 12px;
}

.listImg {
    width: 65px;
    height: 65px;
    object-fit: cover;
}

.summary {
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    top: 20vh;
    min-width: 360px;
    max-width: 460px;
    padding: 24px 24px 48px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
}

.summaryTableHolder {
    max-height: 60vh;
    overflow-y: scroll;
    padding-right: 12px;
}

.summaryItemTitle {
    font-size: 16px;
}

.summaryButtons {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    text-align: right;
    left: 0;
    bottom: -24px;
    padding: 8px 24px 8px;
    box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.toast {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 240px;
    padding: 24px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
}

.toastText {
    margin: 0 0 16px;
}
