.wrapper {
  box-sizing: border-box;
  padding: 40px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 21px;
  margin: 0 0 8px;
}

.subText {
  font-size: 16px;
  margin: 0 0 12px;
}
