body {
  margin: 0;
  font-family: "Grafista-Regular", "American Typewriter", "Courier New", "Courier", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1e2a57;
}

h1, h2, h3 {
  font-weight: normal;
}

a, a:visited {
  color: #1e2a57;
  text-decoration: none;
}

button {
  background-color: #1e2a57;
  color: #fff73d;
  border: none;
  border-bottom: 3px solid #1e2a57;
  padding: 6px 20px 3px;
  border-radius: 0;
}

button:hover, button:focus {
  background-color: #fff73d;
  color: #1e2a57;
  cursor: pointer;
}

label {
  margin-right: 8px;
}

input, select {
  border: 1px solid hsl(227, 49%, 94%);
  border-radius: 0;
  padding: 6px 5px;
  margin-right: 8px;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
}

code, button, input, textarea {
  font-family: "Grafista-Regular", "American Typewriter", "Courier New", "Courier", monospace;
}

.svg-inline--fa {
  position: relative;
  top: 3px;
  width: 16px;
}
